<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aboutMe</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/aboutMe-style.css">
    <style>
        #classes td, #classes th
        {
            font-size:1em;
            border:1px solid #98bf21;
            padding:3px 7px 2px 7px;
        }

        #classes th
        {
            font-size:1.1em;
            text-align:left;
            padding-top:5px;
            padding-bottom:4px;
            background-color:#A7C942;
            color:#ffffff;
        }

        #classes tr.alt td
        {
            color:#000000;
            background-color:#EAF2D3;
        }


    </style>
</head>
<body>
<div>
    <p>A simple student who is <b>interested in web.</b></p>
</div>
<div>
    <h2>我参加的课程</h2>
    <table id="classes">
        <tr>
            <th>课程名</th>
            <th>课程号</th>
            <th>课序号</th>
            <th>开课单位</th>
            <th>学分</th>
            <th>上课周次</th>
            <th>上课星期</th>
            <th>开始节次</th>
            <th>结束节次</th>
        </tr>

        <tr class="alt">
            <td>Web开发基础</td>
            <td>100076104</td>
            <td>02</td>
            <td>计算机学院</td>
            <td>1</td>
            <td>1-3周</td>
            <td>星期二，星期四</td>
            <td>第1节</td>
            <td>第5节</td>
        </tr>

        <tr class="alt">
            <td>离散数学</td>
            <td>100081042</td>
            <td>04</td>
            <td>计算机学院</td>
            <td>4</td>
            <td>4-19周</td>
            <td>星期三，星期五</td>
            <td>第3节</td>
            <td>第4节</td>
        </tr>

        <tr class="alt">
            <td>程序设计方法与实践</td>
            <td>100076103</td>
            <td>02</td>
            <td>计算机学院</td>
            <td>1</td>
            <td>1-3周</td>
            <td>星期一，星期三</td>
            <td>第1节</td>
            <td>第5节</td>
        </tr>

        <tr class="alt">
            <td>数值分析</td>
            <td>100086022</td>
            <td>04</td>
            <td>计算机学院</td>
            <td>2</td>
            <td>4-11周</td>
            <td>星期二，星期五</td>
            <td>第8节，第6节</td>
            <td>第9节，第7节</td>
        </tr>

        <tr class="alt">
            <td>数据结构与算法设计</td>
            <td>100071015</td>
            <td>04</td>
            <td>计算机学院</td>
            <td>5</td>
            <td>4-19周</td>
            <td>星期一，星期五</td>
            <td>第3节，第1节</td>
            <td>第5节，第2节</td>
        </tr>

        <tr class="alt">
            <td>概率与数理统计</td>
            <td>100172003</td>
            <td>14</td>
            <td>数学与统计学院</td>
            <td>3</td>
            <td>4-15周</td>
            <td>星期一，星期三</td>
            <td>第8节</td>
            <td>第9节</td>
        </tr>

        <tr class="alt">
            <td>体育/野外生存</td>
            <td>100320035</td>
            <td>01</td>
            <td>体育部</td>
            <td>0</td>
            <td>4-19周</td>
            <td>星期三</td>
            <td>第1节</td>
            <td>第2节</td>
        </tr>

        <tr class="alt">
            <td>大学物理AII</td>
            <td>100180121</td>
            <td>06</td>
            <td>物理学院</td>
            <td>4</td>
            <td>4-19周</td>
            <td>星期二，星期四</td>
            <td>第3节</td>
            <td>第4节</td>
        </tr>

        <tr class="alt">
            <td>马克思主义基本原理</td>
            <td>100270025</td>
            <td>18</td>
            <td>马克思主义学院</td>
            <td>3</td>
            <td>4-19周</td>
            <td>星期四</td>
            <td>第8节</td>
            <td>第10节</td>
        </tr>

    </table>
</div>

<div>
    <div>
        <h2>喜欢的歌姬</h2>
        <p class="p1">洛天依</p>
        <p><a href=https://space.bilibili.com/36081646>相关链接(BiliBili)</a></p>
        <p><img src="../static/luotianyi.png" alt="洛天依" height="500" width="500"></p>
        <p class="p2">乐正绫</p>
        <p><a href=https://space.bilibili.com/406948651>相关链接(BiliBili)</a></p>
        <p><img src="../static/yuezhengling.jpg" alt="乐正绫" height="500" width="500"></p>
        <p class="p3">言和</p>
        <p><a href=https://space.bilibili.com/406948276>相关链接(BiliBili)</a></p>
        <p><img src="../static/yanhe.jpg" alt="言和" height="500" width="500"></p>
    </div>

    <div>
        <h2>喜欢的专辑</h2>
        <p>アンラベル・トリガー Original Sound Track & 録り下ろしドラマCD</p>
        <p><img src="../static/album1.jpg" alt="言和" height="500" width="500"></p>
    </div>

    <p class="p4">something which you might interest</p>
    <div th:text="${howOldIsMinecraft1_7_10}"></div>

</div>

</body>
</html>

