<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Paper</title>
    <script src="../static/script_for_onlinetest.js" type="text/javascript"></script>
</head>
<body>
<div>
    <form>
        <h3><label for="student_name">学生姓名:</label></h3>
        <input type="text" id="student_name" name="student_name"><br>
    </form>
</div>
<div>
    <h2>一.单项选择题</h2>
    <div>
        <label for="selection_1">1:题目1</label><br>
        <p></p>
        <select id="selection_1" name="selection1">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
    </div>
    <p></p>
    <div>
        <label for="selection_2">2:题目2</label><br>
        <p></p>
        <select id="selection_2" name="selection2">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
    </div>
    <p></p>
    <div>
        <label for="selection_3">3:题目3</label><br>
        <p></p>
        <select id="selection_3" name="selection3">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
    </div>
    <p></p>
    <div>
        <label for="selection_4">4:题目4</label><br>
        <p></p>
        <select id="selection_4" name="selection4">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
    </div>
    <p></p>
    <div>
        <label for="selection_5">5:题目5</label><br>
        <p></p>
        <select id="selection_5" name="selection5">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
    </div>
    <p></p>
    <div>
        <p>6:题目6:</p>
        <form>
            <fieldset style="font-size: 20px; line-height: 1.5;" id="selection_6">
                <input type="radio" id="selection_6_choice1" name="selection_6" value="A">
                <label for="selection_6_choice1">A</label><br>
                <input type="radio" id="selection_6_choice2" name="selection_6" value="B">
                <label for="selection_6_choice2">B</label><br>
                <input type="radio" id="selection_6_choice3" name="selection_6" value="C">
                <label for="selection_6_choice3">C</label><br>
                <input type="radio" id="selection_6_choice4" name="selection_6" value="D">
                <label for="selection_6_choice4">D</label><br>
            </fieldset>
        </form>
    </div>
    <p></p>
    <div>
        <p>7:题目7:</p>
        <form>
            <fieldset style="font-size: 20px; line-height: 1.5;" id="selection_7">
                <input type="radio" id="selection_7_choice1" name="selection_7" value="A">
                <label for="selection_7_choice1">A</label><br>
                <input type="radio" id="selection_7_choice2" name="selection_7" value="B">
                <label for="selection_7_choice2">B</label><br>
                <input type="radio" id="selection_7_choice3" name="selection_7" value="C">
                <label for="selection_7_choice3">C</label><br>
                <input type="radio" id="selection_7_choice4" name="selection_7" value="D">
                <label for="selection_7_choice4">D</label><br>
            </fieldset>
        </form>
    </div>
    <p></p>
    <div>
        <p>8:题目8:</p>
        <form>
            <fieldset style="font-size: 20px; line-height: 1.5;" id="selection_8">
                <input type="radio" id="selection_8_choice1" name="selection_8" value="A">
                <label for="selection_8_choice1">A</label><br>
                <input type="radio" id="selection_8_choice2" name="selection_8" value="B">
                <label for="selection_8_choice2">B</label><br>
                <input type="radio" id="selection_8_choice3" name="selection_8" value="C">
                <label for="selection_8_choice3">C</label><br>
                <input type="radio" id="selection_8_choice4" name="selection_8" value="D">
                <label for="selection_8_choice4">D</label><br>
            </fieldset>
        </form>
    </div>
    <p></p>
    <div>
        <p>9:题目9:</p>
        <form>
            <fieldset style="font-size: 20px; line-height: 1.5;" id="selection_9">
                <input type="radio" id="selection_9_choice1" name="selection_9" value="A">
                <label for="selection_9_choice1">A</label><br>
                <input type="radio" id="selection_9_choice2" name="selection_9" value="B">
                <label for="selection_9_choice2">B</label><br>
                <input type="radio" id="selection_9_choice3" name="selection_9" value="C">
                <label for="selection_9_choice3">C</label><br>
                <input type="radio" id="selection_9_choice4" name="selection_9" value="D">
                <label for="selection_9_choice4">D</label><br>
            </fieldset>
        </form>
    </div>
    <p></p>
    <div>
        <p>10:题目10:</p>
        <form>
            <fieldset style="font-size: 20px; line-height: 1.5;" id="selection_10">
                <input type="radio" id="selection_10_choice1" name="selection_10" value="A">
                <label for="selection_10_choice1">A</label><br>
                <input type="radio" id="selection_10_choice2" name="selection_10" value="B">
                <label for="selection_10_choice2">B</label><br>
                <input type="radio" id="selection_10_choice3" name="selection_10" value="C">
                <label for="selection_10_choice3">C</label><br>
                <input type="radio" id="selection_10_choice4" name="selection_10" value="D">
                <label for="selection_10_choice4">D</label><br>
            </fieldset>
        </form>
    </div>
</div>

<div>
    <h2>二.多项选择题，选错或者漏选得0分</h2>
    <div>
        <p>11:题目11</p>
        <form>
            <fieldset style="font-size: 20px; line-height: 1.5;" id="selection_11">
                <label>
                    <input type="checkbox" name="selection_11" id="selection_11_choice1" value="A">A
                </label><br>
                <label>
                    <input type="checkbox" name="selection_11" id="selection_11_choice2" value="B">B
                </label><br>
                <label>
                    <input type="checkbox" name="selection_11" id="selection_11_choice3" value="C">C
                </label><br>
                <label>
                    <input type="checkbox" name="selection_11" id="selection_11_choice4" value="D">D
                </label>
            </fieldset>
        </form>
    </div>
    <p></p>
    <div>
        <p>12:题目12</p>
        <form>
            <fieldset style="font-size: 20px; line-height: 1.5;" id="selection_12">
                <label>
                    <input type="checkbox" name="selection_12" id="selection_12_choice1" value="A">A
                </label><br>
                <label>
                    <input type="checkbox" name="selection_12" id="selection_12_choice2" value="B">B
                </label><br>
                <label>
                    <input type="checkbox" name="selection_12" id="selection_12_choice3" value="C">C
                </label><br>
                <label>
                    <input type="checkbox" name="selection_12" id="selection_12_choice4" value="D">D
                </label>
            </fieldset>
        </form>
    </div>
</div>

<div>
    <h2>三.填空题</h2>
    <div>
        <p>13:题目13</p>
        <form>
            <label for="content1">填写:</label>
            <input type="text" id="content1" name="content1"><br>
        </form>
    </div>
    <p></p>
    <div>
        <p>14:题目14</p>
        <form>
            <label for="content2">填写:</label>
            <input type="text" id="content2" name="content2"><br>
        </form>
    </div>
    <p></p>
    <div>
        <p>15:题目15</p>
        <form>
            <label for="content3">填写:</label>
            <input type="text" id="content3" name="content3"><br>
        </form>
    </div>
</div>

<div>
    <p><button onclick="test()">测试用按钮</button></p>
</div>
<div>
    <p><button onclick="submit_answers()">提交</button> </p>
</div>
</body>
</html>


<script type="text/javascript">
    async function submit_answers() {
        try {
            const dict = {};
            //姓名
            const studentName = document.getElementById('student_name');
            const studentNameContent = studentName.value;
            if(studentNameContent){//成功填写姓名
                dict['studentName']=studentNameContent;
            }else{
                throw new Error("姓名未填写")
            }

            //单选题1
            const selectElementOfSelection1 = document.getElementById('selection_1');
            const selectOptionOfSelection1 = selectElementOfSelection1.options[selectElementOfSelection1.selectedIndex];
            dict['question1'] = selectOptionOfSelection1.value;

            //单选题2
            const selectElementOfSelection2 = document.getElementById('selection_2');
            const selectOptionOfSelection2 = selectElementOfSelection2.options[selectElementOfSelection2.selectedIndex];
            dict['question2'] = selectOptionOfSelection2.value;

            //单选题3
            const selectElementOfSelection3 = document.getElementById('selection_3');
            const selectOptionOfSelection3 = selectElementOfSelection3.options[selectElementOfSelection3.selectedIndex];
            dict['question3'] = selectOptionOfSelection3.value;

            //单选题4
            const selectElementOfSelection4 = document.getElementById('selection_4');
            const selectOptionOfSelection4 = selectElementOfSelection4.options[selectElementOfSelection4.selectedIndex];
            dict['question4'] = selectOptionOfSelection4.value;

            //单选题5
            const selectElementOfSelection5 = document.getElementById('selection_5');
            const selectOptionOfSelection5 = selectElementOfSelection5.options[selectElementOfSelection5.selectedIndex];
            dict['question5'] = selectOptionOfSelection5.value;

            //单选题6
            let radiosOfSelection6 = document.getElementsByName("selection_6");
            let selectedValueOfSelection6 = null;
            let selectedTextOfSelection6 = null;
            let selectedIdOfSelection6 = null;
            for(const radio of radiosOfSelection6){
                if(radio.checked){
                    selectedValueOfSelection6 = radio.value;
                    selectedTextOfSelection6 = radio.text;
                    selectedIdOfSelection6 = radio.id;
                    const labelOfSelection6 = document.querySelector(`label[for="${selectedIdOfSelection6}"]`);
                    if(labelOfSelection6){
                        selectedTextOfSelection6 = labelOfSelection6.textContent;
                    }else{
                        selectedTextOfSelection6 = "unknown";
                    }
                    break;
                }
            }
            if (selectedValueOfSelection6) {
                dict['question6'] = selectedValueOfSelection6;
            } else {
                throw new Error("题目6没有选择选项")
            }

            //单选题7
            let radiosOfSelection7 = document.getElementsByName("selection_7");
            let selectedValueOfSelection7 = null;
            let selectedTextOfSelection7 = null;
            let selectedIdOfSelection7 = null;
            for(const radio of radiosOfSelection7){
                if(radio.checked){
                    selectedValueOfSelection7 = radio.value;
                    selectedTextOfSelection7 = radio.text;
                    selectedIdOfSelection7 = radio.id;
                    const labelOfSelection7 = document.querySelector(`label[for="${selectedIdOfSelection7}"]`);
                    if(labelOfSelection7){
                        selectedTextOfSelection7 = labelOfSelection7.textContent;
                    }else{
                        selectedTextOfSelection7 = "unknown";
                    }
                    break;
                }
            }
            if (selectedValueOfSelection7) {
                dict['question7'] = selectedValueOfSelection7;
            } else {
                throw new Error("题目7没有选择选项")
            }

            //单选题8
            let radiosOfSelection8 = document.getElementsByName("selection_8");
            let selectedValueOfSelection8 = null;
            let selectedTextOfSelection8 = null;
            let selectedIdOfSelection8 = null;
            for(const radio of radiosOfSelection8){
                if(radio.checked){
                    selectedValueOfSelection8 = radio.value;
                    selectedTextOfSelection8 = radio.text;
                    selectedIdOfSelection8 = radio.id;
                    const labelOfSelection8 = document.querySelector(`label[for="${selectedIdOfSelection8}"]`);
                    if(labelOfSelection8){
                        selectedTextOfSelection8 = labelOfSelection8.textContent;
                    }else{
                        selectedTextOfSelection8 = "unknown";
                    }
                    break;
                }
            }
            if (selectedValueOfSelection8) {
                dict['question8'] = selectedValueOfSelection8;
            } else {
                throw new Error("题目8没有选择选项")
            }

            //单选题9
            let radiosOfSelection9 = document.getElementsByName("selection_9");
            let selectedValueOfSelection9 = null;
            let selectedTextOfSelection9 = null;
            let selectedIdOfSelection9 = null;
            for(const radio of radiosOfSelection9){
                if(radio.checked){
                    selectedValueOfSelection9 = radio.value;
                    selectedTextOfSelection9 = radio.text;
                    selectedIdOfSelection9 = radio.id;
                    const labelOfSelection9 = document.querySelector(`label[for="${selectedIdOfSelection9}"]`);
                    if(labelOfSelection9){
                        selectedTextOfSelection9 = labelOfSelection9.textContent;
                    }else{
                        selectedTextOfSelection9 = "unknown";
                    }
                    break;
                }
            }
            if (selectedValueOfSelection9) {
                dict['question9'] = selectedValueOfSelection9;
            } else {
                throw new Error("题目9没有选择选项")
            }

            //单选题10
            let radiosOfSelection10 = document.getElementsByName("selection_10");
            let selectedValueOfSelection10 = null;
            let selectedTextOfSelection10 = null;
            let selectedIdOfSelection10 = null;
            for(const radio of radiosOfSelection6){
                if(radio.checked){
                    selectedValueOfSelection10 = radio.value;
                    selectedTextOfSelection10 = radio.text;
                    selectedIdOfSelection10 = radio.id;
                    const labelOfSelection10 = document.querySelector(`label[for="${selectedIdOfSelection10}"]`);
                    if(labelOfSelection10){
                        selectedTextOfSelection10 = labelOfSelection10.textContent;
                    }else{
                        selectedTextOfSelection10 = "unknown";
                    }
                    break;
                }
            }
            if (selectedValueOfSelection10) {
                dict['question10'] = selectedValueOfSelection10;
            } else {
                throw new Error("题目10没有选择选项")
            }

            //多选题11
            const checkboxesOfSelection11 = document.getElementsByName("selection_11");
            const selectedValuesOfSelection11 = [];  // 存储选中项的值
            checkboxesOfSelection11.forEach(checkbox => {
                if (checkbox.checked) {
                    selectedValuesOfSelection11.push(checkbox.value);
                }
            });
            const resultsOfSelection11 = selectedValuesOfSelection11.join('')
            if(resultsOfSelection11){
                dict['question11'] = resultsOfSelection11;
            }else{
                throw new Error("题目11没有选择选项")
            }

            //多选题12
            const checkboxesOfSelection12 = document.getElementsByName("selection_12");
            const selectedValuesOfSelection12 = [];  // 存储选中项的值
            checkboxesOfSelection12.forEach(checkbox => {
                if (checkbox.checked) {
                    selectedValuesOfSelection12.push(checkbox.value);
                }
            });
            const resultsOfSelection12 = selectedValuesOfSelection12.join('')
            if(resultsOfSelection12){
                dict['question12'] = resultsOfSelection12;
            }else{
                throw new Error("题目12没有选择选项")
            }


            const response = await fetch('http://localhost:8192/api/submit_answer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dict)
            });
            const result = await response.json();
            console.log(result.data);
            console.log(result.status);
            console.log(result.message);
            window.alert("message1");
        } catch (error) {
            console.error('提交错误。', error.message);
            window.alert('提交错误,原因:'+error.message);
        }
    }
</script>