<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Paper</title>
    <script src="../static/script_for_paper.js" type="text/javascript"></script>
</head>
<body>
<div>
    <form>
        <h3><label for="student_name">学生姓名:</label></h3>
        <input type="text" id="student_name" name="student_name"><br>
    </form>
</div>
<div>
    <h2>一.单项选择题</h2>
    <div>
        <label for="selection_1">1:题目1</label><br>
        <p></p>
        <select id="selection_1" name="selection1">
            <option value="choice1">A</option>
            <option value="choice2">B</option>
            <option value="choice3">C</option>
            <option value="choice4">D</option>
        </select>
    </div>
    <p></p>
    <div>
        <label for="selection_2">2:题目2</label><br>
        <p></p>
        <select id="selection_2" name="selection2">
            <option value="choice1">A</option>
            <option value="choice2">B</option>
            <option value="choice3">C</option>
            <option value="choice4">D</option>
        </select>
    </div>
</div>

<div>
    <p><button onclick="test()">测试用按钮</button></p>
</div>

</body>
</html>


