<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
</head>
<body>
<div>
    <label for="selection_1">select choice1:</label>
    <select id="selection_1" name="selection1">
        <option value="choice1">选项1</option>
        <option value="choice2">选项2</option>
        <option value="choice3">选项3</option>
        <option value="choice4">选项4</option>
    </select>
    <p><button onclick="submit_selection1()" id="button_1" name="button1" >提交</button></p>
</div>
<div>
    <p>select choice2:</p>
    <form>
        <fieldset>
            <input type="radio" id="selection_2_choice1" name="selection_2" value="choice1">
            <label for="selection_2_choice1">选项1</label><br>
            <input type="radio" id="selection_2_choice2" name="selection_2" value="choice2">
            <label for="selection_2_choice2">选项2</label><br>
            <input type="radio" id="selection_2_choice3" name="selection_2" value="choice3">
            <label for="selection_2_choice3">选项3</label><br>
            <input type="radio" id="selection_2_choice4" name="selection_2" value="choice4">
            <label for="selection_2_choice4">选项4</label><br>
        </fieldset>
    </form>
    <p><button id="button_2" name="button2" onclick="submit_selection2()">提交</button></p>
</div>
<div>
    <form>
        <label for="content1">content:</label>
        <input type="text" id="content1" name="content1"><br>
    </form>
    <p><button onclick="submit_content1()">提交</button></p>
</div>
<div>
    <form>
        <p>select choice3:</p>
        <label>
            <input type="checkbox" name="checkbox1" value="A">A
        </label><br>
        <label>
            <input type="checkbox" name="checkbox1" value="B">B
        </label><br>
        <label>
            <input type="checkbox" name="checkbox1" value="C">C
        </label><br>
        <label>
            <input type="checkbox" name="checkbox1" value="D">D
        </label>
    </form>
    <p><button onclick="submit_selection3()">提交</button></p>
</div>
<div>
    <p><button onclick="toggle_content()">点击展开/折叠内容</button></p>
    <div id="folded_content" style="display:none">
        <p>folded_content</p>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    function submit_selection1() {
        const selectElement = document.getElementById('selection_1');
        const selectOption = selectElement.options[selectElement.selectedIndex];
        const selectValue = selectOption.value;
        const selectText = selectOption.text;
        console.log("selectValue:"+selectValue);
        console.log("selectText:"+selectText);
    }
</script>

<script type="text/javascript">
    function submit_selection2() {
        let radios = document.getElementsByName("selection_2");
        let selectedValue = null;
        let selectedText = null;
        let selectedId = null;
        for(const radio of radios){
            if(radio.checked){
                selectedValue = radio.value;
                selectedText = radio.text;
                selectedId = radio.id;
                const label = document.querySelector(`label[for="${selectedId}"]`);
                if(label){
                    selectedText = label.textContent;
                }else{
                    selectedText = "未知选项";
                }
                break;
            }
        }
        if (selectedValue) {
            console.log(`selectedText: ${selectedText}, selectedValue: ${selectedValue}`);
        } else {
            console.log("No choice");
        }
    }
</script>
<script type="text/javascript">
    function submit_content1() {
        const inputElement = document.getElementById('content1');
        const content = inputElement.value;
        if(content){
            console.log(content);
        }else{
            console.log("请添加内容")
        }

    }
</script>

<script type="text/javascript">
    async function toggle_content() {
        const content = document.getElementById("folded_content");
        if (content.style.display === "none") {
            content.style.display = "block";
            const response = await fetch('http://localhost:8192/api/test', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            });
            const result = await response.json();
            content.textContent = result.data;
        } else {
            content.style.display = "none";
        }


    }
</script>

<script>
    function submit_selection3(){
        // 获取所有name="checkbox1"的复选框元素
        const checkboxes = document.getElementsByName("checkbox1");
        const selectedValues = [];  // 存储选中项的值
        // 遍历所有复选框，检查是否被选中
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                selectedValues.push(checkbox.value);
            }
        });
        const results = selectedValues.join('')
        // 打印结果到控制台
        console.log("已选中的选项值:", selectedValues);
        console.log("结果:",results);
    }
</script>